body {
    font-family: Arial, sans-serif;
}

.weather-container {
    display: flex;
    justify-content: space-around;
}

.city {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.city h2 {
    margin-top: 0;
}
